body {
    background: #DDDDDD;
}

.navbar {
    background-color: #1010ff;
    color: white;
}

.page-container {
    margin-top: 75px;
    

}

#mainPage {
    margin-top: 100px;
}

.btn {
    background-color: #1010ff;
    color: white;
    margin-right: 10px;
    
}

#message {
    background: white;
    color: black;
}

.recent-card {
    background: #2020ff;
    z-index: -1;
    position: relative;
}

#sendBar {
    z-index: 1;
    position: fixed;
}
